Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v1.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: detect-private-key
        exclude: (ssl/)
    -   id: detect-aws-credentials
        args: [--allow-missing-credentials]
    -   id: check-yaml
        files: (yaml$|yml$)
-   repo: local
    hooks:
    -   id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        # https://github.com/koalaman/shellcheck
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]
    -   id: markdown-lint
        name: Markdown Lint
        language: node
        # https://github.com/igorshubovych/markdownlint-cli
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
    -   id: eslint
        name: ESLint
        language: system
        entry: ./node_modules/.bin/eslint
        args: [--fix]
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Bump package version
  package.json
Due: none

Update getDecryptedContent.ts
  src/getDecryptedContent.ts
Due: eslint

fix example (pr#20 bugs) (#27)
  example/example.js
  example/index.html
  example/package.json
  package-lock.json
  package.json
  src/getDecryptedContent.ts
Due: eslint

Publish with white-listed files
  package.json
Due: none

main is embedded in src folder
  package.json
Due: none

Publish with white-listed files (#28)
  package.json
Due: none

Tweaks to documentaiton + build script for example
  .gitignore
  README.md
  package.json
  src/fetchAndDecrypt.ts
  src/fetchMany.ts
  tsconfig.json
Due: markdown-lint, eslint

Add badges
  README.md
Due: markdown-lint

Markdown rules
  README.md
Due: markdown-lint

Restores prepare script, adds WIP to README.MD
  README.md
  package.json
Due: markdown-lint

Add Sauce Labs thanks/badge
  README.md
  package.json
Due: markdown-lint

Tweaks to documentation + build script for /example (#30)
  .gitignore
  README.md
  package.json
  src/fetchAndDecrypt.ts
  src/fetchMany.ts
  tsconfig.json
Due: markdown-lint, eslint

Add Apache License 2.0
  LICENSE
Due: none

Add snyk badge and remove unused deps from /example
  README.md
  example/example.js
  example/package-lock.json
  example/package.json
  package-lock.json
Due: markdown-lint, eslint

Add snyk badge and remove unused deps from /example (#34)
  README.md
  example/example.js
  example/package-lock.json
  example/package.json
  package-lock.json
Due: markdown-lint, eslint

Add airtap and CI tests. TODO add tape
  .airtap.yml
  .gitignore
  .travis.yml
  package.json
Due: none

restore npm install in /example on install
  .travis.yml
Due: none

Add airtable and nyc
  .travis.yml
  package-lock.json
  package.json
Due: none

cd back out
  .travis.yml
Due: none

allow travis to pass with 'npm test' just echoing
  package.json
Due: none

add sauce_connect addon and airtap.local host
  .travis.yml
Due: none

Adds npm-check to update deps
  package-lock.json
  package.json
Due: none

Updates example dependencies
  example/package-lock.json
  example/package.json
Due: none

Updates package lock
  example/package-lock.json
Due: none

Updates deps
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
Due: none

Updates dependencies and adds scripts to interactively update (#37)
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
Due: none

Rewrites package lock
  example/package-lock.json
Due: none

Fix resource hint tests
  src/tests/resourceHints.test.ts
Due: eslint

Add cleanup to resource hint tests
  src/tests/resourceHints.test.ts
Due: eslint

Add tests for getDecryptedContent
  README.md
  package-lock.json
  package.json
  src/decryptStream.ts
  src/events.d.ts
  src/tests/getDecryptedContent.test.ts
  src/types.ts
  src/utils/emitProgress.ts
  tsconfig.json
Due: markdown-lint, eslint

Change code style for t.equals() check
  src/tests/getDecryptedContent.test.ts
Due: eslint

Compress first test with sha256 hash
  src/tests/getDecryptedContent.test.ts
Due: eslint

Add missing semicolons
  src/tests/getDecryptedContent.test.ts
  src/tests/resourceHints.test.ts
Due: eslint

Add fetchMany tests
  src/tests/fetchMany.test.ts
Due: eslint

Add unencrypted content test for getDecryptedContent()
  src/tests/getDecryptedContent.test.ts
Due: eslint
