Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v1.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: detect-private-key
        exclude: (ssl/)
    -   id: detect-aws-credentials
        args: [--allow-missing-credentials]
    -   id: check-yaml
        files: (yaml$|yml$)
-   repo: local
    hooks:
    -   id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        # https://github.com/koalaman/shellcheck
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]
    -   id: markdown-lint
        name: Markdown Lint
        language: node
        # https://github.com/igorshubovych/markdownlint-cli
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
    -   id: eslint
        name: ESLint
        language: system
        entry: ./node_modules/.bin/eslint
        args: [--fix]
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Table of contents. Link to Conflux
  .markdownlint.json
  README.md
  package-lock.json
  package.json
Due: markdown-lint

Improve onReady example
  README.md
Due: markdown-lint

test
  .markdownlint.json
  README.md
  package.json
Due: markdown-lint

Temporary fix
  README.md-e
  package.json
Due: none

Removes top section
  README.md
  README.md-e
  package.json
Due: markdown-lint

Temp fix to dash error (#60)
  .markdownlint.json
  README.md
  package.json
Due: markdown-lint

Updates API reference, adds import instructions, adds table of contents (#59)
  .markdownlint.json
  README.md
  package-lock.json
  package.json
Due: markdown-lint

-f for removing temp file
  package.json
Due: none

Adds codeclimate badge
  README.md
Due: markdown-lint

Bump version to 3.0.1
  package-lock.json
  package.json
Due: none

Adds codeclimate badge (#62)
  README.md
Due: markdown-lint

Convoluted mixed-API approach that I'm pivoting away from
  src/API.ts
  src/decrypt.penumbra.worker.js
  src/types.ts
Due: eslint

Transfer fully-buffered ArrayBuffers instead of ReadableStreams for Safari and Firefox
  src/API.ts
  src/decrypt.penumbra.worker.js
  src/types.ts
  src/workers.ts
Due: eslint

Fix logic to fully-buffer responses
  src/API.ts
  src/decrypt.penumbra.worker.js
  src/types.ts
Due: eslint

Fixed progress event test for Safari.
  src/demo/demo.js
Due: eslint

Update API.ts
  src/API.ts
Due: eslint

Fix pre-commit
  src/API.ts
  src/decrypt.penumbra.worker.js
  src/demo/demo.js
  src/types.ts
Due: eslint

Bump version
  package.json
Due: none

Bump version for streams fallback
  package.json
Due: none

Bumps version
  package.json
Due: none

Bumps version and fixes entry (#67)
  package.json
Due: none

Change export style
  package.json
  src/index.ts
Due: eslint

Update API docs
  README.md
Due: markdown-lint

Fix typo in README
  README.md
Due: markdown-lint

Declare window.penumbra
  package.json
  src/index.ts
  src/tests/v3-api.test.ts
  src/types.ts
Due: eslint

Initial work towards new getTextOrURI API (by @michaelfarrell76)
  src/API.ts
  src/types.ts
Due: eslint

Make the getTextOrURI() API easier to use for batching
  README.md
  example/index.js
  package-lock.json
  package.json
  src/API.ts
  src/demo/demo.js
  src/tests/v3-api.test.ts
Due: markdown-lint, eslint

Update parameter naming in usage examples
  README.md
Due: markdown-lint

Update README.md
  README.md
Due: markdown-lint

Add license scan report and status
  README.md
Due: markdown-lint

Add license scan report and status (#71)
  README.md
Due: markdown-lint

Fixes lints from fossa injection UGH
  README.md
Due: markdown-lint

Updates deps and fixes ts errors?
  .vscode/settings.json
  package-lock.json
  package.json
  src/API.ts
  src/tests/helpers/timeout.ts
  yarn.lock
Due: eslint

Updates yarn commands on travis
  .travis.yml
  .vscode/settings.json
Due: none

Fix return type in JSDoc for [PenumbraDecryptionWorker].getBuffers
  src/decrypt.penumbra.worker.js
Due: eslint

Prep for encryption workers
  src/decrypt.penumbra.worker.js
  src/encrypt.penumbra.worker.js
  src/types.ts
Due: eslint

Stub methods for encryption
  src/API.ts
  src/decrypt.penumbra.worker.js
  src/demo/demo.js
  src/encrypt.penumbra.worker.js
  src/types.ts
Due: eslint

Stub encryption options type
  src/API.ts
  src/types.ts
Due: eslint

Working on encryption
  src/API.ts
  src/encryptStream.ts
  src/modules.d.ts
  src/types.ts
  src/utils/emitProgress.ts
Due: eslint
