Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

markdown-lint:
  name: Markdown Lint
  language: node
  additional_dependencies:
  - markdownlint-cli
  entry: markdownlint

eslint:
  name: ESLint
  language: system
  entry: ./node_modules/.bin/eslint
  args:
  - --fix

Remove console.warn call
  src/API.ts
  src/encrypt.ts
Due: eslint

Check authTag in penumbra.decrypt()
  src/decrypt.ts
  src/encrypt.ts
  src/fetchAndDecrypt.ts
Due: eslint

Remove lazydecipheriv
  package.json
  src/API.ts
  yarn.lock
Due: eslint

Document penumbra.decrypt()
  README.md
Due: markdown-lint

Update README.md
  README.md
Due: markdown-lint

Remove unused code and fix linter errors
  src/API.ts
  src/encrypt.ts
  src/penumbra.worker.js
Due: eslint

Add penumbra.encrypt() & penumbra.decrypt() (#77)
  README.md
  package.json
  src/API.ts
  src/decrypt.penumbra.worker.js
  src/decrypt.ts
  src/decryptStream.ts
  src/demo/demo.js
  src/demo/index.html
  src/encrypt.ts
  src/events.d.ts
  src/fetchAndDecrypt.ts
  src/index.ts
  src/modules.d.ts
  src/penumbra.worker.js
  src/transferHandlers/penumbra-events.ts
  src/transferHandlers/progress.ts
  src/types.ts
  src/utils/emitEncryptionCompletion.ts
  src/utils/emitProgress.ts
  src/utils/forwardEvents.ts
  src/utils/forwardProgress.ts
  src/workers.ts
  src/zip.penumbra.worker.js
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Fix pre-commit
  example/index.js
  package.json
  src/API.ts
  src/demo/demo.js
  src/penumbra.worker.js
  src/tests/v3-api.test.ts
Due: eslint

Create .airtaprc
  .airtaprc
Due: none

Fix pre-commit errors
  src/events.d.ts
  src/modules.d.ts
Due: eslint

Add penumbra.encrypt() test to v4-api-tests.ts
  src/API.ts
  src/tests/index.test.ts
  src/tests/v4-api.test.ts
  src/types.ts
Due: eslint

Try to get karma tests running
  src/tests/v4-api.test.ts
Due: eslint

Bump version
  package.json
Due: none

Fix decryption example to keep track of progress
  example/index.js
Due: eslint

Don't handle progress events without a URL in example
  example/index.js
Due: eslint

Fix demo download progress indicators
  README.md
  example/index.js
Due: markdown-lint, eslint

v4.0.2 base (#81)
  .airtap.yml
  .airtaprc
  .browserslistrc
  .gitignore
  .travis.yml
  .vscode/settings.json
  README.md
  example/index.js
  karma.browserstack.js
  karma.global.js
  karma.local.js
  package.json
  src/API.ts
  src/demo/demo.js
  src/events.d.ts
  src/modules.d.ts
  src/penumbra.worker.js
  src/tests/index.test.ts
  src/tests/v3-api.test.ts
  src/tests/v4-api.test.ts
  src/types.ts
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Get Karma tests up and running
  karma.global.js
  penumbra-karma-context.html
  src/tests/v4-api.test.ts
Due: eslint

Remove debug line from tests
  src/tests/v4-api.test.ts
Due: eslint

Disable Firefox in CI to get PR merged
  karma.browserstack.js
Due: eslint

Updates deps
  .vscode/settings.json
  package.json
  yarn.lock
Due: none

Grab response header for iv
  package.json
  src/decrypt.ts
  src/fetchAndDecrypt.ts
Due: eslint

No .final
  package.json
Due: none

TODO for trailer decipher authtag
  src/decrypt.ts
Due: eslint

Removes console log
  package.json
  src/fetchAndDecrypt.ts
Due: eslint

Throws an error when status code is >= 400
  package.json
  src/fetchAndDecrypt.ts
Due: eslint

No console response
  package.json
  src/fetchAndDecrypt.ts
Due: eslint

Forward Penumbra error events to the main thread
  src/error.ts
  src/events.d.ts
  src/penumbra.worker.js
  src/transferHandlers/penumbra-events.ts
  src/types.ts
  src/utils/emitErrors.ts
  src/utils/forwardEvents.ts
Due: eslint

Use details in ErrorEvent constructor
  src/transferHandlers/penumbra-events.ts
Due: eslint

Implement penumbra.get(..., fetchOptions)
  src/demo/demo.js
  src/fetchAndDecrypt.ts
  src/penumbra.worker.js
  src/transferHandlers/penumbra-events.ts
  src/types.ts
  src/utils/emitError.ts
Due: eslint

Fixes pre-commit
  src/events.d.ts
Due: eslint

Invert default to not include credentials
  src/demo/demo.js
  src/fetchAndDecrypt.ts
  src/penumbra.worker.js
Due: eslint

Fetch includes credentials (#84)
  .vscode/settings.json
  package.json
  src/decrypt.ts
  src/demo/demo.js
  src/error.ts
  src/events.d.ts
  src/fetchAndDecrypt.ts
  src/fetchMany.ts
  src/penumbra.worker.js
  src/transferHandlers/penumbra-events.ts
  src/types.ts
  src/utils/emitError.ts
  src/utils/forwardEvents.ts
  yarn.lock
Due: eslint

Use emitError internally in penumbra
  src/decrypt.ts
  src/fetchAndDecrypt.ts
  src/penumbra.worker.js
  src/utils/getOrigins.ts
Due: eslint

Remove extraneous error emission test
  src/fetchAndDecrypt.ts
Due: eslint

Emit error
  package.json
  src/fetchAndDecrypt.ts
Due: eslint

Fix import address for ./error
  src/utils/getOrigins.ts
Due: eslint

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  eslint: any of: \.(js|jsx|ts|tsx)$
