Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v1.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: detect-private-key
        exclude: (ssl/)
    -   id: detect-aws-credentials
        args: [--allow-missing-credentials]
    -   id: check-yaml
        files: (yaml$|yml$)
-   repo: local
    hooks:
    -   id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        # https://github.com/koalaman/shellcheck
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]
    -   id: markdown-lint
        name: Markdown Lint
        language: node
        # https://github.com/igorshubovych/markdownlint-cli
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
    -   id: eslint
        name: ESLint
        language: system
        entry: ./node_modules/.bin/eslint
        args: [--fix]
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Fixes chmod issues
  example/README.md
  example/decryption.worker.js
  example/example.js
  example/files.js
  example/index.html
  example/package.json
  example/style.css
  example/webpack.config.js
Due: markdown-lint, eslint

Connects to travis
  .travis.yml
Due: none

Finish initial implementation of fetchMany()
  index.ts
Due: eslint

Remove fetchMany examples
  index.ts
Due: eslint

Start using options objects in penumbra
  example/package-lock.json
  example/package.json
  index.ts
  package-lock.json
Due: eslint

Use consistant option formats
  example/package-lock.json
  index.ts
Due: eslint

Export fetchAndDecipher
  index.ts
Due: eslint

Work on fixing #21
  index.ts
  package.json
Due: eslint

More work on fetchAndDecrypt() for #21 and #23
  index.ts
Due: eslint

Finish fetchAndDecrypt()
  index.ts
Due: eslint

Bump major version
  package-lock.json
Due: none

Use getOrigin(); work on linter issues
  index.ts
Due: eslint

Fix missing ) in preload
  index.ts
Due: eslint

Statically include getOrigin
  index.ts
Due: eslint

Working on eslint
  .eslintrc.js
  index.ts
Due: eslint

Remove cleanup handlers
  index.ts
Due: eslint

Missed a return type in the last commit
  index.ts
Due: eslint

Fix all eslint errors in /index.ts
  index.ts
Due: eslint

Fix all eslint errors and update example/* API usage
  .eslintrc.js
  example/decryption.worker.js
  example/example.js
  index.ts
Due: eslint

Make sure Travis installs example/*
  .travis.yml
  example/example.js
  example/webpack.config.js
Due: eslint

Update README.md with new API usage
  README.md
Due: markdown-lint

Document preconnect() and preload()
  README.md
Due: markdown-lint

Moving to src folder and adding tslint
  .eslintrc.js
  .gitignore
  .pre-commit-config.yaml
  example/decryption.worker.js
  example/example.js
  example/package.json
  example/webpack.config.js
  package-lock.json
  package.json
  src/index.ts
  src/modules.d.ts
  src/utils/getOrigin.ts
  src/utils/index.ts
  src/utils/toBuff.ts
  tsconfig.json
  tslint.json
Due: eslint

Utils moved to folder
  src/utils/emitProgress.ts
  src/utils/getMediaSrcFromRS.ts
  src/utils/getTextFromRS.ts
  src/utils/index.ts
Due: eslint

Adds editorconfig, tslint and mime-types dep
  .editorconfig
  package-lock.json
  package.json
  src/types.ts
  tsconfig.json
Due: eslint

Moves in orgin set into getOrigins util func
  src/fetchAndDecipher.ts
  src/modules.d.ts
  src/types.ts
  src/utils/getOrigins.ts
  src/utils/index.ts
Due: eslint

fetchMany rewritten to do promise.all along fetch+decipher
  src/fetchAndDecrypt.ts
  src/fetchMany.ts
  src/index.ts
Due: eslint

Refactor into src folder completed
  .vscode/settings.json
  example/decryption.worker.js
  example/example.js
  example/files.js
  src/decryptStream.ts
  src/downloadEncryptedFile.ts
  src/fetchAndDecipher.ts
  src/fetchAndDecrypt.ts
  src/getDecryptedContent.ts
  src/modules.d.ts
  src/types.ts
  src/utils/getOrigin.ts
Due: eslint

Moves to single stage
  .travis.yml
Due: none

...
  .travis.yml
Due: none

No awscli in travis
  .travis.yml
Due: none

Updates README
  .vscode/settings.json
  README.md
  example/example.js
Due: markdown-lint, eslint

Exports all types in the index file
  package.json
  src/index.ts
Due: eslint

Single file compilation
  example/decryption.worker.js
  example/example.js
  package.json
  tsconfig.json
Due: eslint

no export of download
  example/example.js
Due: eslint

Improve build script
  example/package.json
  package-lock.json
Due: none

Add cache-buster to bundle.js script element
  example/index.html
Due: none

Fix example to use filePrefix instead of path
  example/example.js
Due: eslint

Improve text type detection
  src/getDecryptedContent.ts
Due: eslint

Make text type checker case insensitive
  src/getDecryptedContent.ts
Due: eslint
