Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v1.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: detect-private-key
        exclude: (ssl/)
    -   id: detect-aws-credentials
        args: [--allow-missing-credentials]
    -   id: check-yaml
        files: (yaml$|yml$)
-   repo: local
    hooks:
    -   id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        # https://github.com/koalaman/shellcheck
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]
    -   id: markdown-lint
        name: Markdown Lint
        language: node
        # https://github.com/igorshubovych/markdownlint-cli
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
    -   id: eslint
        name: ESLint
        language: system
        entry: ./node_modules/.bin/eslint
        args: [--fix]
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Removed extra ']'
  README.md
Due: markdown-lint

Markdown lint and Travis debug test
  .markdownlint.json
  .travis.yml
Due: none

Travis debug test 2
  .travis.yml
Due: none

Spacing on the README
  README.md
Due: markdown-lint

add contributing section, fix comlink double dep, add section for importing TODO
  README.md
  package-lock.json
  package.json
Due: markdown-lint

Prepare penumbra-progress for zip events
  README.md
  package.json
  src/decrypt.penumbra.worker.js
  src/decryptStream.ts
  src/types.ts
  src/utils/emitProgress.ts
  src/zip.penumbra.worker.js
Due: markdown-lint, eslint

Improve returns
  src/API.ts
Due: eslint

Fix #55
  src/workers.ts
Due: eslint

Use script location in worker location lookup
  src/workers.ts
Due: eslint

Further improvements to fix #55
  src/workers.ts
Due: eslint

Improvements to worker location management for #55
  src/workers.ts
Due: eslint

Update types.ts
  src/types.ts
Due: eslint

Keep track of a file's mimetype when passing through getBlob() and getTextOrURI()
  src/API.ts
  src/types.ts
Due: eslint

add example2
  example2/index.html
  example2/index.js
  example2/style.css
Due: eslint

Fix example2 demo and add unencrypted use case
  example2/index.html
  example2/index.js
Due: eslint

Removed redudant array
  example2/index.js
Due: eslint

Add support for single PenumbraFiles in getTextOrURI() and zip()
  src/API.ts
  src/types.ts
  src/zip.penumbra.worker.js
Due: eslint

Update penumbra.getTextOrURI API to simplify common use cases
  example2/index.js
  src/API.ts
  src/types.ts
Due: eslint

Fix API-change-related error in airtap tests
  src/tests/v3-api.test.ts
Due: eslint

Annotate PenumbraTextOrURI with its original mimetype
  src/API.ts
  src/types.ts
Due: eslint

Removing spreadify
  src/utils/index.ts
  src/utils/spreadify.ts
Due: eslint

Improve readability of nooper()
  src/fetchMany.ts
Due: eslint

Delete typeGuards/
  src/typeGuards/index.ts
Due: eslint

PascalCase the Compression enum
  src/API.ts
  src/types.ts
Due: eslint

Improving documentation for Comlink.transferHandlers
  src/transferHandlers/progress.ts
Due: eslint

Remove eslint:no-restricted-globals
  .eslintrc.js
  example2/index.js
  src/decrypt.penumbra.worker.js
  src/decryptStream.ts
  src/demo/demo.js
  src/fetchMany.ts
  src/index.ts
  src/tests/downloadEncryptedFile.test.ts
  src/tests/getDecryptedContent.test.ts
  src/tests/helpers/timeout.ts
  src/tests/v3-api.test.ts
  src/utils/emitProgress.ts
  src/utils/forwardProgress.ts
  src/workers.ts
  src/zip.penumbra.worker.js
Due: eslint

Add image loading test
  src/demo/demo.js
Due: eslint

Fix missing comlink dependency
  package-lock.json
  package.json
Due: none

s/resources/arguments/
  src/API.ts
Due: eslint

Use more destructuring assignment
  src/API.ts
  src/fetchMany.ts
Due: eslint

Add row population
  example/.babelrc
  example/.browserslistrc
  example/README.md
  example/decryption.worker.js
  example/example.js
  example/files.js
  example/index.html
  example/index.js
  example/package-lock.json
  example/package.json
  example/webpack.config.js
  example2/index.html
  example2/index.js
  example2/style.css
Due: markdown-lint, eslint

Add example
  example/index.html
  example/index.js
  example/style.css
  tslint.json
Due: eslint

fix package.json bug
  package.json
Due: none

switch to save
  example/index.js
Due: eslint

Netlify fix, hopefully
  example/index.html
  example/index.js
  package.json
Due: eslint

build:example fix
  example/index.js
  package.json
Due: eslint

In example, display content once decrypted
  example/index.js
  package.json
Due: eslint

Adds importing instructions, cleans up dupe on ready event
  README.md
Due: markdown-lint

API fixes
  README.md
Due: markdown-lint
