Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

markdown-lint:
  name: Markdown Lint
  language: node
  additional_dependencies:
  - markdownlint-cli
  entry: markdownlint

eslint:
  name: ESLint
  language: system
  entry: ./node_modules/.bin/eslint
  args:
  - --fix

Add tests for preconnect() and preload()
  src/tests/resourceHints.test.ts
Due: eslint

Remove debug call
  src/tests/getDecryptedContent.test.ts
Due: eslint

Add test for fetchAndDecrypt()
  src/tests/fetchAndDecrypt.test.ts
Due: eslint

No comma-dangle eslint rule since prettier handles
  .eslintrc.js
Due: eslint

Split out hashing function into tests/helpers/hash.ts
  src/tests/fetchMany.test.ts
  src/tests/getDecryptedContent.test.ts
  src/tests/helpers/hash.ts
  src/tests/helpers/index.ts
  src/tests/resourceHints.test.ts
Due: eslint

Rename interactive test command
  package.json
Due: none

Optionalize RemoteResource.filePrefix in getDecryptedContent()
  src/getDecryptedContent.ts
Due: eslint

Make filePrefix optional for fetchAndDecrypt and getDecryptedContent
  .gitignore
  package.json
  src/fetchAndDecrypt.ts
  src/getDecryptedContent.ts
  src/types.ts
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

Improve linter and setup prettier
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  package.json
  src/events.d.ts
  src/tests/fetchAndDecrypt.test.ts
  src/tests/fetchMany.test.ts
  src/tests/getDecryptedContent.test.ts
  src/tests/helpers/hash.ts
  src/tests/resourceHints.test.ts
  src/types.ts
  tslint.json
Due: eslint

Disable cross-browser tests
  .travis.yml
Due: none

Run tests locally for now
  .travis.yml
Due: none

Potential airtap fix
  package.json
Due: none

Re-enable browser tests
  .travis.yml
Due: none

Fix prettier auto-quotes breaking .travis.yml
  .prettierignore
  .travis.yml
Due: none

Only test Safari and iPhone on Saucel Labs for now
  .airtap.yml
Due: none

Add cross-browser test framework, code coverage, and CI (#40)
  .airtap.yml
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierignore
  .travis.yml
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
  src/decryptStream.ts
  src/events.d.ts
  src/fetchAndDecrypt.ts
  src/getDecryptedContent.ts
  src/tests/fetchAndDecrypt.test.ts
  src/tests/fetchMany.test.ts
  src/tests/getDecryptedContent.test.ts
  src/tests/helpers/hash.ts
  src/tests/helpers/index.ts
  src/tests/resourceHints.test.ts
  src/types.ts
  src/utils/emitProgress.ts
  tsconfig.json
  tslint.json
Due: markdown-lint, eslint

Add test for downloadEncryptedFile
  package-lock.json
  package.json
  src/tests/downloadEncryptedFile.test.ts
  src/tests/helpers/index.ts
  src/tests/helpers/timeout.ts
Due: eslint

Use helpers/hash in fetchAndDecrypt test
  src/tests/fetchAndDecrypt.test.ts
Due: eslint

Improve getDecryptedContent download progress event emitter tests
  src/tests/getDecryptedContent.test.ts
Due: eslint

Remove unnecessary 'evt.detail'
  src/tests/downloadEncryptedFile.test.ts
Due: eslint

We don't know type info on the timeout callback
  src/tests/helpers/timeout.ts
Due: eslint

Only test on Safari for quicker CI
  .airtap.yml
Due: none

Use Number.isNaN() instead of isNaN() global
  src/tests/downloadEncryptedFile.test.ts
Due: eslint

Make getDecryptedContent return Responses instead of Blobs
  example/example.js
  src/getDecryptedContent.ts
  src/tests/getDecryptedContent.test.ts
  tsconfig.json
Due: eslint

Start default worker integration
  package-lock.json
  package.json
  src/decryption.worker.js
  tsconfig.json
Due: eslint

Fixes audit warnings
  package-lock.json
  package.json
Due: none

Remove "webworker" lib from tsconfig
  tsconfig.json
Due: none

Experimental test getting Comlink working with <script type="module"> & generated workers
  experiments/comlink-tests.html
  package-lock.json
  package.json
  src/decryptStream.ts
Due: eslint

Comment out workerCache
  src/decryptStream.ts
Due: eslint

Get generated Comlink Worker thread working without "Experimental Web Platform features" flag
  example/package-lock.json
  experiments/comlink-tests.html
  src/decryptStream.ts
Due: eslint

Trying to dynamically support module worker threads
  src/decryptStream.ts
Due: eslint

Dropping support for module worker threads
  src/decryptStream.ts
Due: eslint

Initial worker location management
  src/decryptStream.ts
  src/decryption.worker.js
  src/utils/getOrigins.ts
  src/workers.ts
  webpack.config.js
Due: eslint

Improve get/setWorkerLocation() conciseness
  src/workers.ts
Due: eslint

Setup worker script files
  src/penumbra-decrypt.worker.js
  src/penumbra-zip.worker.js
  src/workers.ts
Due: eslint

Add worker-plugin
  package.json
Due: none

Start using webpack
  package.json
Due: none

Setup webpack config (by @bencmbrook)
  package-lock.json
  package.json
  src/workers.ts
  tsconfig.webpack.json
  webpack.config.js
Due: eslint

Split out blob cache management into utils/
  src/decryptStream.ts
  src/utils/blobCache.ts
Due: eslint

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  eslint: any of: \.(js|jsx|ts|tsx)$
