Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v1.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: detect-private-key
        exclude: (ssl/)
    -   id: detect-aws-credentials
        args: [--allow-missing-credentials]
    -   id: check-yaml
        files: (yaml$|yml$)
-   repo: local
    hooks:
    -   id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        # https://github.com/koalaman/shellcheck
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]
    -   id: markdown-lint
        name: Markdown Lint
        language: node
        # https://github.com/igorshubovych/markdownlint-cli
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
    -   id: eslint
        name: ESLint
        language: system
        entry: ./node_modules/.bin/eslint
        args: [--fix]
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Ignore files in NYC
  karma.global.js
  package.json
  webpack.config.js
Due: eslint

Clean up CI and package.json
  .travis.yml
  package.json
  yarn.lock
Due: none

typo
  karma.global.js
  package.json
Due: eslint

upgrade python
  .travis.yml
Due: none

remove python overrides
  .travis.yml
Due: none

include python 3.7 which has pip3
  .travis.yml
Due: none

try removing pip3
  .travis.yml
Due: none

add pip3
  .travis.yml
Due: none

try isntalling with yarn
  .travis.yml
Due: none

Remove python addon
  .travis.yml
Due: none

Try curl
  .travis.yml
Due: none

Put coverage report in browserstack test
  .travis.yml
  package.json
Due: none

Upgrade package.json and readme
  README.md
  package.json
Due: markdown-lint

Updates dependencies and adds prettier
  .eslintrc.js
  .pre-commit-config.yaml
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  example/style.css
  package.json
  penumbra-karma-context.html
  src/demo/index.html
  yarn.lock
Due: eslint

Removes markdownlint
  .markdownlint.json
  .pre-commit-config.yaml
Due: none

4.5.1
  package.json
Due: none

Updates dependencies and adds prettier (#105)
  .eslintrc.js
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  example/style.css
  package.json
  penumbra-karma-context.html
  src/demo/index.html
  yarn.lock
Due: eslint

Travis config + cleanup
  .airtaprc
  .travis.yml
  README.md
  karma.browserstack.js
  package.json
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Improve compatability with babel polyfills
  README.md
  babel.config.js
  karma.browserstack.js
  package.json
  src/penumbra.worker.js
  yarn.lock
Due: markdown-lint, eslint

Restore markdownlint
  .markdownlint.json
  README.md
  penumbra-karma-context.html
Due: markdown-lint

typo
  README.md
Due: markdown-lint

Karma in TypeScript with code coverage (#103)
  .airtaprc
  .markdownlint.json
  .travis.yml
  README.md
  babel.config.js
  karma.browserstack.js
  karma.global.js
  karma.local.js
  package.json
  penumbra-karma-context.html
  src/index.ts
  src/penumbra.worker.js
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

fix: upgrade streamsaver from 2.0.3 to 2.0.4
  package.json
Due: none

fix: upgrade streamsaver from 2.0.3 to 2.0.4 (#110)
  package.json
Due: none

Better Babel and webpacking
  README.md
  babel.config.js
  package.json
  src/index.ts
  src/utils/intoStreamOnlyOnce.ts
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Actually babel'd builds
  README.md
  karma.browserstack.js
  package.json
  src/tests/v4-api.test.ts
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Add browserlistrc
  .browserslistrc
Due: none

Fix version
  package.json
Due: none

sha->rev for pre-commit
  .pre-commit-config.yaml
Due: none

Pre-commit
  .prettierignore
  README.md
Due: markdown-lint

Babel'd builds (#111)
  .browserslistrc
  .pre-commit-config.yaml
  .prettierignore
  README.md
  babel.config.js
  karma.browserstack.js
  package.json
  src/index.ts
  src/tests/v4-api.test.ts
  src/utils/intoStreamOnlyOnce.ts
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Restore some old settings
  babel.config.js
  webpack.config.js
Due: eslint

Patch bump
  package.json
Due: none

Restore some old build settings (#112)
  babel.config.js
  package.json
  webpack.config.js
Due: eslint

Use Event if CustomEvent is not supported
  src/event.ts
  src/index.ts
  src/transferHandlers/penumbra-events.ts
  src/types.ts
  src/utils/emitEncryptionCompletion.ts
  src/utils/emitError.ts
  src/utils/emitProgress.ts
  src/workers.ts
Due: eslint

Implement UA support hints
  package.json
  src/API.ts
  src/mock.ts
  src/types.ts
  src/ua-support.ts
Due: eslint

Add penumbra.supported() test
  src/tests/v4-api.test.ts
Due: eslint

PenumbraSupportLevel.none by default in mock API
  src/mock.ts
Due: eslint

Remove old PenumbraSupportLevel state list
  src/types.ts
Due: eslint

Use 0 for none & possible PenumbraSupportLevels
  src/mock.ts
  src/tests/v4-api.test.ts
  src/types.ts
Due: eslint
