Repository transcend-io/penumbra: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

.pre-commit-config.yaml:

# See http://pre-commit.com for more information
# See http://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v1.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: detect-private-key
        exclude: (ssl/)
    -   id: detect-aws-credentials
        args: [--allow-missing-credentials]
    -   id: check-yaml
        files: (yaml$|yml$)
-   repo: local
    hooks:
    -   id: shellcheck-lint
        name: Shellcheck
        language: docker_image
        # https://github.com/koalaman/shellcheck
        entry: koalaman/shellcheck:v0.5.0
        types: [shell]
    -   id: markdown-lint
        name: Markdown Lint
        language: node
        # https://github.com/igorshubovych/markdownlint-cli
        additional_dependencies: [markdownlint-cli]
        entry: markdownlint
        types: [markdown]
    -   id: eslint
        name: ESLint
        language: system
        entry: ./node_modules/.bin/eslint
        args: [--fix]
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Fix pre-commit
  .eslintrc.js
Due: eslint

Use a modern browser for testing
  karma.browserstack.js
Due: eslint

Fix pre-commit issues
  .eslintignore
  src/fetchMany.ts
Due: eslint

BrowserStack is returning errors when attempting to use Chrome 79
  karma.browserstack.js
Due: eslint

Get the first byte of input encrypting in Firefox
  .eslintignore
  .eslintrc.js
  karma.browserstack.js
  src/API.ts
  src/decrypt.ts
  src/demo/demo.js
  src/encrypt.ts
  src/tests/helpers/timeout.ts
  src/utils/index.ts
  src/utils/intoStreamOnlyOnce.ts
  src/workers.ts
Due: eslint

Getting incorrect decryption in Firefox
  src/decrypt.ts
  src/demo/demo.js
  src/encrypt.ts
Due: eslint

Give up on encryption in Firefox for now
  src/API.ts
  src/demo/demo.js
  src/encrypt.ts
Due: eslint

Fix syntax error from removing console.warn calls
  src/API.ts
Due: eslint

Fix for prettier
  src/demo/demo.js
Due: eslint

Fix CI tests for Firefox
  src/demo/demo.js
  src/tests/v4-api.test.ts
  src/types.ts
Due: eslint

Use tape t.equal in penumbra.encrypt() test
  src/tests/v4-api.test.ts
Due: eslint

Fix penumbra.encrypt() test not ending in Firefox
  src/demo/demo.js
  src/tests/v4-api.test.ts
Due: eslint

Updates dependencies
  package.json
  yarn.lock
Due: none

Updates dependencies (#97)
  package.json
  yarn.lock
Due: none

Exposes iv when encrypting
  package.json
  src/encrypt.ts
  src/types.ts
Due: eslint

Exposes iv when encrypting files (#98)
  package.json
  src/encrypt.ts
  src/types.ts
Due: eslint

Encrypt stream passes through iv
  .vscode/settings.json
  package.json
  src/API.ts
  src/types.ts
Due: eslint

No writable stream for now
  package.json
  src/API.ts
  src/encrypt.ts
Due: eslint

Turns back on comlink
  package.json
  src/API.ts
  src/types.ts
Due: eslint

Emits iv and authtag as strings
  .vscode/settings.json
  package.json
  src/encrypt.ts
Due: eslint

No iv returned
  package.json
  src/encrypt.ts
  src/types.ts
Due: eslint

No iv returned
  src/API.ts
Due: eslint

Removes iv and authTag transform
  package.json
  src/API.ts
  src/encrypt.ts
Due: eslint

Encrypt stream passes through iv (#99)
  .vscode/settings.json
  package.json
  src/API.ts
  src/encrypt.ts
  src/types.ts
Due: eslint

Attempting to fix travis
  .travis.yml
Due: none

Removes logging on start for jest
  package.json
  src/workers.ts
  yarn.lock
Due: eslint

Removes log by default
  package.json
  src/workers.ts
Due: eslint

Performance optimizations. Closes #100
  experiments/comlink-tests.html
  package.json
  src/penumbra.worker.js
  src/transferHandlers/penumbra-events.ts
  webpack.config.js
  yarn.lock
Due: eslint

Add license and fix README
  README.md
  src/index.ts
  src/penumbra.worker.js
Due: markdown-lint, eslint

Add pre-commit to devDeps to fix Travis
  package.json
  yarn.lock
Due: none

Add pre-commit global
  .travis.yml
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

Upgrade pip3
  .travis.yml
Due: none

Update browserstack creds + npm minor version
  karma.browserstack.js
  package.json
Due: eslint

remove tree shaking - too many side effects with minimal perf improvements
  package.json
  webpack.config.js
Due: eslint

Performance optimizations. Closes #100 (#101)
  .travis.yml
  README.md
  experiments/comlink-tests.html
  karma.browserstack.js
  package.json
  src/index.ts
  src/penumbra.worker.js
  src/transferHandlers/penumbra-events.ts
  webpack.config.js
  yarn.lock
Due: markdown-lint, eslint

Coverage working on build files
  README.md
  karma.browserstack.js
  karma.global.js
  karma.local.js
  package.json
  yarn.lock
Due: markdown-lint, eslint

Log info
  karma.global.js
  karma.local.js
Due: eslint

building well.
  karma.browserstack.js
  karma.global.js
  karma.local.js
  package.json
  penumbra-karma-context.html
  yarn.lock
Due: eslint

Add webpack
  karma.global.js
  package.json
  src/index.ts
  src/penumbra.worker.js
  yarn.lock
Due: eslint

Source maps working with TypeScript
  karma.browserstack.js
  karma.global.js
  karma.local.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint
